body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f3f3f3;
}

header {
    background-color: #131921;
    padding: 10px;
    display: flex;
    gap: 10px;
}

.logo {
    color: orange;
    font-size: 24px;
    font-weight: bold;
}

header input {
    flex: 1;
    padding: 8px;
}

header button {
    padding: 8px 12px;
}

.products {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}
